doctype html
html(lang="en", ng-app="anOutlandishWebApp")
    head
        title Page Not Found
    body
        p 404 - Page Not Found
        p Uh oh! Looks like you found a page that doesn't exist?